<div class="col-sm-offset-1 col-sm-10">  
  <h1>And the winner is:</h1>

  <%= render 'winner', :char_combat => @char_combat %>

  <h1>Loser is:</h1>

  <%= render 'loser', :char_combat => @char_combat %>
</div>
