<div class="col-sm-offset-1 col-sm-10">
	<h1>Edit "<%= @char_attribute.title %>" attribute</h1>
</div>

<%= render 'form_show' %>

<div class="col-sm-offset-1 col-sm-10">  
	<%= link_to 'Back', users_char_types_path %>
</div>
