<h1> Attribute "<%= @char_attribute.title %>"</h1>

<table class="table table-hover">
	<tr>
		<th>Attribute name</th>
		<th>Attribute value</th>
		<th>Attribute icon</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	
	<%= render @char_attribute %>
</table>

<%= link_to 'Back', char_types_path %>
