<div class="col-sm-offset-1 col-sm-10">
	<h1>Edit "<%= @char_type.title %>" type</h1>
</div>

<%= render 'form' %>

<div class="col-sm-offset-1 col-sm-10">  
	<%= link_to 'Back', char_types_path %>
</div>

